body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}






#map { 
    height: 300px; 
}

#info {
    width: 100%;
    background-color: rgb(236, 7, 7);
    height: 200px;
}

#openCameraButton {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    border-radius: 10px;
    bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    background-color: #222222;

}
