
/* CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color:rgb(255, 0, 0);
    margin: 0;
    padding: 30px;
    text-align: center;
}


#myButton   {
position: absolute;
width: 200px;
margin-left: -100px;
border-radius: 10px;
bottom: 10px;
padding: 10px;
cursor: pointer;
border: none;
color: #FFFFFF;
background-color: #222222;
        
}
#imgDiv{
position:absolute;
left: 50%;
margin-left: -125px;

top: 50%;
margin-top: -150px;
width: 250px;
height: 300px;
background-color: rgba(0, 30, 255, 0.502);
}
img {
max-width: 100%;
height: 100;
object-fit: cover;
}


